<div class="weather">
    <span id="icon" class="weather-icon i02d"></span> Tag - Bewölkt (leicht)
</div>
<div class="weather">
    <span id="icon" class="weather-icon i02n"></span> Nacht - Bewölkt (leicht)
</div>