<div class="weather">
    <span id="icon" class="weather-icon i03d"></span> Tag - Bewölkt (mittel)
</div>
<div class="weather">
    <span id="icon" class="weather-icon i03n"></span> Nacht - Bewölkt (mittel)
</div>