<div class="weather">
    <span id="icon" class="weather-icon i04d"></span> Tag - Bewölkt (stark)
</div>
<div class="weather">
    <span id="icon" class="weather-icon i04n"></span> Nacht - Bewölkt (stark)
</div>