
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/.idea
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
/node_modules
/styleguide/node_modules
/styleguide/.DS_Store
/styleguide/export/*
/styleguide/public/*
/styleguide/source/styleguide/*
/styleguide/source/js/min/*
/styleguide/source/js/tmp/*
/styleguide/source/css/maps/
/styleguide/vendor/*
/styleguide/.idea
/styleguide/.sass-cache
