<div class="color-switcher">
	<button class="color-switch-button" data-color="base-bg">Light</button>
	<button class="color-switch-button" data-color="primary-color">Blue</button>
	<button class="color-switch-button" data-color="secondary-color">Dark</button>
	<br>
</div>