//
// SG: Colors
//=================================================================================================


// @globals
//
//===================================================================

@import "../base/globals";



// @variables
//
//===================================================================



// @mixins
//
//===================================================================

// Dummy to generate Brand-Colors


// @styles
//
//===================================================================

@include exports("sg-navigation") {

  a.patternLink{
    color: #0b0b0b;
    border-bottom: none;
  }
  .text a{
    text-decoration: none;
  }

  #organisms-head-navigation, #organisms-not-logged-in{
    display:none;
  }


}