<ul class="icons inline-list">
	<div class="svg-icon svg-icon-1-2_5x icon-twitter"></div>
	<div class="svg-icon svg-icon-1-2_5x icon-facebook"></div>
	<div class="svg-icon svg-icon-1-2_5x icon-linkedin"></div>
</ul>