//
// Navigation
//=================================================================================================


// @globals
//
//===================================================================

@import "../base/globals";



// @variables
//
//===================================================================



// @mixins
//
//===================================================================



// @styles
//
//===================================================================

@include exports("navigation") {

  .page-wrapper.page-menu{
    text-align: right;
    padding: 0 $pad/2;
  }
  .breadcrumb-class{
    padding-top: 1rem;
  }

  nav{
    text-align: center;

    .page-wrapper{
      height:100%;
      margin-top: 0 !important;
      position: relative;
    }
    &.meta-nav{
      position: absolute;
      width:100%;
      background: transparent;
      height: 3rem;
      top:0;
      color: $color-primary;
      z-index:102;
      @media #{$large-up}{
        width: $page-width/2;
        left:50%;
        transform: translateX(25%);
        .page-wrapper{
          padding:0 1.5rem !important;
        }
      }
      @media #{$large-down}{
        width: 50%;
        right:0;
      }

      div{
        display:inline-block;
        vertical-align: top;
        line-height: 3rem;
        height: 4rem;
        font-size: 1.5rem;
        span{
          line-height: 3rem;
          margin-right: .5rem;
        }
      }
      .social-media {
        position: relative;
        right: 9.8rem;
        float: right;
        top:0.7rem;
        color: #ACA8A2;
        vertical-align:middle;
      }
      .presse {
        border: 1.3px solid $color-primary;
        color: #6E6764;
        padding: .4rem .4rem .3rem .4rem;
        font-size: 0.75rem;
        border-radius: 0.2rem;
      }

      .iconAlign{
        padding-top:0.3rem;
        a{
          color:$color-tertiary;
        }
      }


      .sprache{
        margin-left: -0.25rem;
        margin-right:0;
        text-transform: uppercase;
        width: 2rem;
        height: 2rem;
        color: #6E6764;
        font-size:0.75rem;
        background: #DFDEDA;
        padding: .4rem .4rem .35rem .38rem;
        -moz-border-radius: 1rem;
        -webkit-border-radius: 1rem;
        border-radius: 1rem;
      }
      .fa-search {
        color:$color-primary;
      }

      .weather{
        margin-left: 2rem;
        span{
          margin-right: .5rem;
        }
      }
      .book{
        position: absolute;
        right: 1.5rem;
        height: 100%;
        background: $color-secondary;
        top: 0;
        margin-top: 0;
        line-height: 3rem;
        transition: all 300ms ease-in-out;
        &:hover{
          background: lighten($color-secondary, 15);

        }
        .book-button{
          font-weight: bold;
          color: $white;
          padding: 0 1.25rem;
          display:inline-block;
          cursor:pointer;
        }
        @media #{$large-down}{
          right: 1.1rem;
        }
      }
      @media #{$large-down}{
        .social-media, .weather{
          display: none;
        }
      }
    }
    &.link-nav{
      height: rem-calc(133px);
      background: $color-secondary;
      //border-bottom: 1px solid #CCC;
      font-size:0;
      line-height: 0;
      z-index: 101;

      &.dashboard-header-wrapper{
        background: $color-tertiary;
        box-shadow: $custom-shadow-high;
      }

      .logo{
        width: 11rem;
        left: 1rem;
        margin: 1rem 0 1rem 1rem;
        display:inline-block;
        position:absolute;
        z-index:10000;
        &.not-authenticated-user{
          margin: 0;
          top: 1.5rem;
          @media screen and (min-width:0px) and (max-width: 1065px) {
            left: calc(50% - 5rem);
            width: 9rem;
          }
        }
      }
      @media screen and (min-width:0px) and (max-width: 1065px) {
        .authenticate-user-mobile{
          //border: solid $color-primary 2px;
          border-radius: 2px;
          height: 2rem;
          width: 2rem;
          padding: 1rem;
          padding-right: 1.9rem;
          right: 1.5rem;
          top: 1.5rem;
          position: absolute;
          cursor: pointer;
          span:before{
            content:"\f084";
            font-size: 1rem;
            font-family: "Font Awesome 5 Solid";
          }
          span:after{
            content:"\f078";
            font-size: 1rem;
            font-family: "Font Awesome 5 Solid";
            padding-left: 1.3rem;
            color: $color-primary;
          }
          &.open{
            span:after{
              content:"\f077";
            }
          }
        }
      }
    }

    &.link-nav.admin-nav{
      height: 3rem;
      background-color: #de4412;
      .admin-back{
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        right: 0;
        top: 0.4rem;
        margin-right: 1rem;
        font-size: .8rem;
        padding: .6rem;
        &:hover{
          background: rgba(255, 255, 255, 0.2);
        }
        i{
          padding-left: .3rem;
        }
      }
    }

    .menu-icon{
      position: absolute;
      right: $pad;
      top: $pad;
      height: 2rem;
      line-height:2rem;
      color: $color-primary;
      cursor: pointer;
      display: none !important;
      @media #{$menu-break-down}{
        display:inline-block !important;
      }
      .open{
        display:block;
        line-height: 2.5rem;
      }
      .close{
        display: none;
        line-height: 2.5rem;
      }
      &.close-menu{
        .open{
          display:none;
        }
        .close{
          display: block;
        }
      }
    }
    .menu{
      width: 100%;
      padding: 0;
      line-height: 2rem;
      font-size: 1.5rem;
      text-align:right;
      z-index:10;
      margin-bottom: -4px;
      .current{
        > a{
          font-weight: 700;
        }
        >span{
          font-weight: 700;
        }
      }

      .drop-down{
        display:none;
      }

      ul{
        margin:0;
        z-index:10;
        //this underlines the menu item on hover, and keeps the underline during dropbown as well
        li.sub-menu:hover> a span {
          border-bottom: solid $color-secondary-contrast 0.4rem;
          padding-bottom: 0.1rem;
        }
      }

      span.selected, li.sub-menu:hover> a span.selected {
        border-bottom: solid $color-tertiary 0.4rem;
        padding-bottom: 0.1rem;
      }


      > ul{
        display:inline-block;
        position: relative;
        text-align: center;
        @media #{$menu-break-up}{
          height: 2.5rem;
        }

        >li{
          //border-bottom: solid transparent 0.4rem;
          //margin-right: 1.5rem;
          //margin-left: 1.5rem;
          @media #{$menu-break-up}{
            position: initial !important;
          }
          @media #{$menu-break-down}{
            position: relative !important;
          }

          a:hover {
            border-bottom: solid transparent 0.6rem;
            //padding-bottom:0.2rem;
          }



          //This code was replaced by code on line 233
          //a:hover> span{
          //  border-bottom: solid $color-secondary-contrast 0.4rem;
          //}
          //span.selected,  a:hover>span.selected {
          //  border-bottom: solid $color-tertiary 0.4rem;
          //  @media #{$large-down}{
          //    padding-bottom: 0;
          //  }
          //}

        }
        li{
          &:before{
            content: "";
            display:none;
          }
          display: inline;
          color: $color-primary;
          text-align: right;
          z-index:1;
          a{
            font-size: 1rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            color: $font-negative-color;
            font-weight: 400;
            @media #{$medium-only}{
              padding-left: 0;
              padding-top: 0;
              padding-bottom: 0;
            }
            @media #{$small-only}{
              padding-left: 0;
              padding-top: 0;
              padding-bottom: 0;
            }
          }
          ul{
            font-size:0;
            line-height: 0;
            display:none;
            z-index:10;
            li{
              display: block;
              text-transform: none;
            }
          }
          @media #{$menu-break-up}{
            position: relative;
            ul{
              line-height: 0;
              width: 100%;
              display: none;
              border: 1px solid $color-primary;
              text-align: center;
              li {
                display:block;
                white-space: nowrap;
                text-align: left;
                vertical-align: top;
                //min-width: 12%;
                margin-right: 6%;
                a{
                  color:$color-secondary !important;
                  border-bottom-width:0px !important;
                  line-height: 2.0rem;
                  padding: .25rem .5rem;
                  margin:0;
                  display:block;
                  &:after{
                    border-bottom: 0;
                  }
                  &:hover{
                    text-decoration: underline;
                  }
                }
              }
            }
            &:hover ul, &:focus ul{
              display: block;
              box-sizing: content-box;
              position: absolute;
              background: $white;
              top: 100%;
              margin-top:-3px;
              left: -1px;
              color: #000;
              padding: 1px;
              padding-top: 1rem;
              padding-bottom: 1rem;
              border: 1px solid $gray-medium;
              border-top: 0;
              a{
                color: #000;
              }
              ul{
                li{
                  width: 100%;
                  display:block;
                }
                position: relative;
                border:0;
                display: block;
                box-sizing: content-box;
                background: $white;
                top: 100%;
                margin-top:-1px;
                left: -1px;
                a{
                  color: #555;
                  font-size: .95rem;
                }
              }
            }
          }
        }
      }
      @media #{$menu-break-down}{
        overflow-y:scroll;
        font-size: 1.2rem;
        display:none;
        background: $gray-medium;
        height:100%;
        width:100%;
        left: 0;
        top: 5.07rem;
        padding-bottom: 3rem;
        margin: 0;
        position: fixed;

        &.show{
          display:block;
        }

        ul{
          line-height: 3rem;
          display:block;
          width:100%;
          border-bottom: 1px solid $gray-medium;
          li{
            display:block;
            text-align: left;
            background: $white;
            padding: 0 !important;
            margin: 0 !important;
            border:0 !important;
            a{
              color:black;
              text-indent: 2rem;
              margin-right: 0rem;
              display:block;
              border-bottom: 0 !important;
              &:after{
                display:none;
              }
            }
            &.sub-menu{
              >.drop-down{
                display:block;
                &:after{
                  font-family: Arial;
                  content: "+";
                }
                cursor:pointer;
                position: absolute;
                right:0;
                top:0;
                height: 3rem;
                width: 3rem;
                font-size:2rem;
                background:$color-secondary;
                color: $color-secondary-contrast;
                text-align: center;
                z-index:9999;
                border-bottom: 1px solid $color-secondary;
              }
              &.open{
                >.drop-down{
                  &:after{
                    font-family: Arial;
                    content: "-";
                  }
                }
                >ul{
                  display:block;
                }
              }
            }
            &.sub-menu .sub-menu{
              .drop-down{
                background: $white;
                border-bottom: $white;
              }
            }
            ul{
              display:none;
              font-size: 1rem;
              line-height: 3rem;
              li{
                position: relative;
                a{
                  text-indent: 4rem;
                }
                background: mix($white, $gray-light, 25);
                ul{
                  li{
                    a{
                      text-indent: 6rem;
                    }
                    background: mix($white, $gray-medium, 50);
                  }
                }
              }
            }
          }
        }
        >.fa-search{
          display:none;
        }
      }

      .social-media{
        background: #fff;
        font-size: 2rem;
        vertical-align: bottom;
        letter-spacing: 1rem;
        padding: 1rem 0;
        color: $color-primary;
        text-align: center;
        &.social-media-mobile{
          @media #{$menu-break-up}{
            display: none;
          }
        }
      }

      .mobile-menu-logo{
        @media #{$menu-break-up}{
          display:none;
        }
        background: $white;
        text-align: center;
        padding: 2rem;
        .mobile-logo-img{
          width: rem-calc(332);
          max-width: 100%;
          background-image: url("/fileadmin/lombego/layout/images/logo.png");
          height: 5rem;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }

      }

    }
  }


  footer{
    max-height:236px;
    color: $white;
    background:$color-tertiary-dark;
    .fab {
      vertical-align:middle !important;
      display:inline;
      font-size: 2rem;
      padding-left:2rem;
    }
  }

  .footer-menu{
    color: $color-tertiary;
    font-weight: bold;
    width:100%;
    text-align: right;


    li{
      display:inline-block;
      padding: 0 0.5rem !important;
    }
    @media #{$small-only}{
      text-align:center;
      margin:0!important;
    }
  }

  .address{
    text-align: left;
  }


  .menu-inner-wrapper{
    &:before{
      position: absolute;
      content: " ";
      left:50%;
      top:0;
      width:100vw;
      height:100%;
      transform: translateX(-50%);
      background: #fff;
    }

    @media #{$large-down}{
      height: 0 !important;
      margin: 0 !important;
    }
  }
  .nav-wrapper{
    position: fixed !important;
    width:100%;
    top: 0;

  }
  .search-wrapper{
    display:inline-block;
    position: relative;

    .mobile-search-submit, .mobile-search{
      display: none;
    }

    @media #{$menu-break-down}{
      display: block;
      width:100%;
      padding: 6px;
      background:#fff;
      .mobile-search-submit{
        width: 100%;
      }
      .mobile-search-submit, .mobile-search{
        display: block;
      }
      .icon-search{
        display:none;
      }
    }
  }
}