{% if value is not null %}
    <a href="{{ path('downloadDocument', {document: link_parameters.id |urlencrypt}) }}">{% trans %}View Document{% endtrans %}</a>
{% else %}
    {% trans %}No Document{% endtrans %}
{% endif %}