{% block content %}

    <div class="fragment secondary-color">
        {% if templateRender == false %}
            {% include "atoms-colorswitch" %}
        {% endif %}
        <div class="page-wrapper">
           <div class="row">
               <div class="column column-100">
                   <a href="#" class="button button-full-width">Sonderangebot</a>
               </div>
        </div>
    </div>

    </div>

{% endblock %}