{% block content %}
    <div class="fragment image-with-video" style="background-image:url('{{ fullWidthSeparator.0 }}')">
        <div class="play-button"></div>
        <div class="youtube-video">
            <div class="inner">
                <!--<iframe width="560" height="315" data-target-src="https://www.youtube.com/embed/rGwqx9zz1tY?autoplay=1" src="" frameborder="0" allowfullscreen></iframe><br>-->
                <iframe data-target-src="https://player.vimeo.com/video/20732587?autoplay=1" src="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p>Hier klicken zum schließen.</p>
            </div>

        </div>
    </div>

{% endblock %}