{% block content %}
    {#{% set bgColor = 'primary-color' %}#}
    {#{%  if bgColor is defined %}#}
        {#<div class="fragment {{bgColor}}">#}
    {#{% else %}#}
        {#<div class="fragment {{random(fragmentSetup.colorRange)}}">#}
    {#{% endif %}#}
    {#{% if templateRender == false %}#}
        {#{% include "atoms-colorswitch" %}#}
    {#{% endif %}#}
<div class="fragment producer-dashboard">
            <div class="column column-80 producer-dashboard-table table-row">
                <div class="column producer-d-delivery-date table-top-bar-item">
                    <span>Lieferung am</span>
                </div>
                <div class="column producer-d-product table-top-bar-item">
                    <span>Produkt</span>
                </div>
                <div class="column producer-d-amount table-top-bar-item">
                    <span>Units</span>
                </div>
                <div class="column producer-d-order table-top-bar-item">
                    <span>Bestell-Nr</span>
                </div>
                <div class="column producer-d-customer table-top-bar-item">
                    <span>Kundenname</span>
                </div>
                <div class="column producer-d-delivery table-top-bar-item">
                    <span>Lieferadresse</span>
                </div>
             </div>
    {% for i in 0..6 %}
        <div class="column column-80 producer-dashboard-table table-row">
            <div class="column producer-d-delivery-date table-item">
                <span>04.08.2018</span>
            </div>
            <div class="column producer-d-product table-item">
                <span>Illum</span>
            </div>
            <div class="column producer-d-amount table-item">
                <span>100000 Units</span>
            </div>
            <div class="column producer-d-order table-item">
                <span>NKA25896</span>
            </div>
            <div class="column producer-d-customer table-item">
                <span>Dr. Wolfgang Kaiser</span>
            </div>
            <div class="column producer-d-delivery table-item">
                <span>Krankenhausstraße 67</span>
                <span>50674 Köln</span>
            </div>
        </div>
    {% endfor %}
    <div class="column column-20 center producer-d-stats">
        <span class="stats-title">Produktion Statistiken</span>
        <span class="stats-subtitle">Heute 05.06.2018</span>
        <span class="stats-subtitle">Letzte 30 Tage</span>
    </div>
</div>
{% endblock %}