<header>
    {#<nav class="nav-wrapper meta-nav">#}
        {#<div class="page-wrapper">#}
            {#<div class="menu-icon">#}
                {#<i class="fal fa-bars open" aria-hidden="true"></i>#}
                {#<i class="fal fa-times close" aria-hidden="true"></i>#}
            {#</div>#}
        {#</div>#}
    {#</nav>#}
    <nav class="nav-wrapper link-nav">
        <div class="page-wrapper menu-wrapper">
            <div class="row">
                <div class="column column-100 sign-in right">
                    <fieldset class="sign-in-fields">
                        <input id="emailAddress" placeholder="your-name@radiopharma24.de" type="email" class="powermail_input">
                        <input id="userPassword" placeholder="password" type="password">
                        <a class="button flat">Login</a>
                     </fieldset>
                    <fieldset class="sign-in-links">
                        <div class="remember-me-field">
                            <input type="checkbox" id="remember" name="login-settings" value="remember">
                            <label class="remember-checkbox" for="remember">Remember me</label>
                        </div>
                        <div class="forgot-password-box">
                             <a class="forgot-password">Forgot password?</a>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </nav>
</header>