<header>
    <nav class="nav-wrapper link-nav  dashboard-header-wrapper" style="top: 0px; transition: top 0.3s ease-in-out;">
        <div class="menu-wrapper">
            <div class="row">
                <div class="column column-100 right">
                    <div class="logo">
                        <a href="/"><img src="../../images/R24-white-logo.png" alt="Radiopharma24"></a>
                    </div>
                    <div class="column column-60 right">
                            <div class="dashboard-header">
                                <ul>
                                    <li class="dashboard-header-item my-addresses addresses-button">
                                        <a class="dashboard-color-arrow" href="">Krankenhausstraße 67 / 50674 Köln</a>
                                    </li>
                                    <div class="addresses-popup-overlay">
                                        <div class="addresses-popup-overlay-content">
                                            <div class="addresses-popup-overlay-content-close" style=""><span class="fal fa-times"></span></div>
                                            <div class="overlay-content-shipping-module">
                                                    <span class="title">Lieferadresse</span>
                                                    <div class="address-item">
                                                        <div class="address-item-select">
                                                            <input type="radio" id="shipping-address-1"
                                                                   name="shipping-address-list" value="address-1">
                                                            <label for="shipping-address-1"><span class="street-number">Krankenhausstraße 67</span><span class="city-zip">50674 Köln</span></label>
                                                        </div>
                                                        <div class="address-item-icons">
                                                            <span><i class="fas fa-trash"></i></span>
                                                            <span><i class="fas fa-pen"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="address-item">
                                                        <div class="address-item-select">
                                                            <input type="radio" id="shipping-address-2"
                                                                   name="shipping-address-list" value="address-2">
                                                            <label for="shipping-address-2"><span class="street-number">Geschwister-Scholl-Str. 25</span><span class="city-zip">51149 Köln</span></label>
                                                        </div>
                                                        <div class="address-item-icons">
                                                            <span><i class="fas fa-trash"></i></span>
                                                            <span><i class="fas fa-pen"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="address-item buttons-group">
                                                        <a class="button flat no-border">NEUE HINZUFÜGEN</a>
                                                        <a class="button flat no-border">ALLE ANSEHEN</a>
                                                    </div>
                                            </div>
                                            <div class="overlay-content-billing-module">
                                                    <span class="title">Rechnungsadresse</span>
                                                    <div class="address-item">
                                                        <div class="address-item-select">
                                                            <input type="radio" id="billing-address-1"
                                                                   name="billing-address-list" value="billing-address-1">
                                                            <label for="billing-address-1"><span class="street-number">Marie-Sterne-Platz 79</span><span class="city-zip">53173 Bonn</span></label>
                                                        </div>
                                                        <div class="address-item-icons">
                                                            <span><i class="fas fa-trash"></i></span>
                                                            <span><i class="fas fa-pen"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="address-item">
                                                        <div class="address-item-select">
                                                            <input type="radio" id="billing-address-2"
                                                                   name="billing-address-list" value="billing-address-2">
                                                            <label for="billing-address-2"><span class="street-number">Geschwister-Scholl-Str. 25</span><span class="city-zip">51149 Köln</span></label>
                                                        </div>
                                                        <div class="address-item-icons">
                                                            <span><i class="fas fa-trash"></i></span>
                                                            <span><i class="fas fa-pen"></i></span>
                                                        </div>
                                                    </div>
                                                <div class="address-item buttons-group">
                                                    <a class="button flat no-border">NEUE HINZUFÜGEN</a>
                                                    <a class="button flat no-border">ALLE ANSEHEN</a>
                                                </div>
                                            </div>
                                            <div class="card-bottom">
                                                <a class="button">SPEICHERN</a>
                                            </div>
                                        </div>
                                    </div>
                                    <li class="dashboard-header-item my-account-item">
                                        <a class="dashboard-color-arrow" href="">Dr. Wolfgang Kaiser</a>
                                        <ul class="my-account-dropdown">
                                            <li>
                                                <a href="">Mein Konto</a>
                                            </li>
                                            <li>
                                                <a href="">Passwort ändern</a>
                                            </li>
                                            <li>
                                                <a href="">Abmelden</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>