00-customer-header.twig<header>
    <nav class="nav-wrapper link-nav  dashboard-header-wrapper" style="top: 0px; transition: top 0.3s ease-in-out;">
        <div class="menu-wrapper">
            <div class="row">
                <div class="column column-100 right">
                    <div class="logo">
                        <a href="/"><img src="../../images/R24-white-logo.png" alt="Radiopharma24"></a>
                    </div>
                    <div class="column column-60 right">
                            <div class="dashboard-header">
                                <ul>
                                    <li class="dashboard-header-item my-account-item">
                                        <a class="dashboard-color-arrow" href="">Delivery Express GmBH</a>
                                        <ul class="my-account-dropdown">
                                            <li>
                                                <a href="">Mein Konto</a>
                                            </li>
                                            <li>
                                                <a href="">Passwort ändern</a>
                                            </li>
                                            <li>
                                                <a href="">Abmelden</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>